
triangle RCDATA C:/src/library/gui/gui/icons/triangle.png
settings30x30.png RCDATA C:/src/library/gui/gui/icons/settings30x30.png
upButton.png RCDATA C:/src/library/gui/gui/icons/upButton.png
downButton.png RCDATA C:/src/library/gui/gui/icons/downButton.png
leftButton.png RCDATA C:/src/library/gui/gui/icons/leftButton.png
rightButton.png RCDATA C:/src/library/gui/gui/icons/rightButton.png

check RCDATA C:/src/library/gui/gui/icons/check.png
